@(helloForm: Form[(String)])

@import helper._

@main(title = "The 'helloworld' application") {

    <h1>Configure your 'Hello world':</h1>

    @form(action = routes.Application.sayHello, args = 'id -> "helloform") {

        @textarea(
        field = helloForm("text"),
        args = '_label -> "Enter some text: ",
        'placeholder -> "I cannot say enough about the amazing lobster risotto.",
        'style -> "height:300px;width:400px"
        )

        <p class="buttons">
        <input type="submit" id="submit" value="Analyse">
        <p>
    }
}

