@(helloForm: Form[(String)])

@import helper._

@main(title = "Sentiment Analysis") {

    <h1>Sentiment Analysis</h1>


    @form(action = routes.Application.sentiment, args = 'id -> "helloform") {

        @textarea(
        field = helloForm("text"),
        args = '_label -> "Enter text for analyis: ",
        'placeholder -> "Enter the foursquare tip",
        'style -> "height:100px;width:400px"
        )

        <p class="buttons">
        <input type="submit" id="submit" value="Analyse">
        <p>
    }
}

